version: '3'

services:
  postgres:
    image: postgres:10.1
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
    networks:
      - default
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.ci
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    ports:
      - 3000:3000
    depends_on:
      - postgres 
    stdin_open: true
    tty: true