<footer>
  <div class="container footer-links">
    <ul class="row" id="main-links">
      <li class="col s12 m12 l2">
        <p><%= link_to "Home", root_path %></p>
      </li>
      <li class="col s12 m12 l2"><p>About</p></li>
      <% unless user_signed_in? %>
        <li class="col s12 m12 l2">
          <p><%= link_to "新規登録", new_user_registration_path %></p>
        </li>
        <li class="col s12 m12 l2">
          <p><%= link_to "ログイン", new_user_session_path %></p>
        </li>
        <li class="col s12 m12 l2"><p>ゲストログイン</p></li>
      <% end %>
    </ul>
  </div>
</footer>