<footer>
  <div class="container footer-links">
    <ul class="row" id="main-links">
      <li class="col s12 m12 l2"><p>Home</p></li>
      <li class="col s12 m12 l2"><p>About</p></li>
      <li class="col s12 m12 l2"><p>新規登録</p></li>
      <li class="col s12 m12 l2"><p>ログイン</p></li>
      <li class="col s12 m12 l2"><p>ゲストログイン</p></li>
    </ul>
  </div>
</footer>